<!-- start page title -->
<!-- <app-pagetitle title="Profile" [breadcrumbItems]="breadCrumbItems"></app-pagetitle> -->
<!-- end page title -->

<div class="row mb-4" id="profile-view">
  <div class="col-xl-4">
    <div class="card h-100">
      <div class="card-body">
        <div class="">
          <div class="dropdown float-end" ngbDropdown>
            <a
              class="text-body dropdown-toggle font-size-18"
            
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="mdi mdi-dots-vertical"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              <a class="dropdown-item">แก้ไข</a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="text-center bg-pattern">
            <div class="col-sm-12">
              <img
                src="assets/images/users/avatar-4.jpg"
                alt=""
                class="avatar-xl img-thumbnail rounded-circle mb-3"
              />
              <a class="dropdown-item"
                ><i
                  class="mdi mdi-wallet text-muted font-size-16 align-middle me-1"
                ></i>
                <span class="align-middle" key="t-balance"
                  >เงินคงเหลือ : <b>{{ customer.currentMoney }}</b></span
                ></a
              >
              <div
                class="row"
                *ngIf="customer.currentMoney <= customer.minimumMoney"
              >
                <h6 class="text-danger">กรุณาชำระค่าไฟก่อนถูกระงับมิเตอร์</h6>
              </div>
            </div>

            <!-- <h4 class="text-primary mb-2">เพชรฤทธิ์ ศรีวงศ์</h4> -->
            <h4 class="text-primary mb-2">{{ userFullName }}</h4>
            <div class="text-center mb-2">
              <a hidden
                class="btn btn-warning me-2 waves-effect waves-light btn-sm"
                (click)="topupModal(topup)"
                ><i class="mdi mdi-email-outline me-1" ></i>เติมเงิน </a
              >
              <!-- <a class="btn btn-danger waves-effect waves-light btn-sm" (click)="repairModal(repair)"><i
                                    class="mdi mdi-phone-outline me-1"></i>แจ้งไฟฟ้าขัดข้อง</a> -->
            </div>
          </div>
        </div>
        <hr class="my-4" />
        <h4 class="card-title mb-4">ประวัติการใช้ไฟฟ้า</h4>
        <div class="mt-3">
          <apx-chart
            dir="ltr"
            class="apex-charts"
            [chart]="topUpAndChargeBarChart.chart"
            [series]="topUpAndChargeBarChart.series"
            [legend]="topUpAndChargeBarChart.legend"
            [stroke]="topUpAndChargeBarChart.stroke"
            [colors]="topUpAndChargeBarChart.colors"
            [fill]="topUpAndChargeBarChart.fill"
            [dataLabels]="topUpAndChargeBarChart.dataLabels"
            [xaxis]="topUpAndChargeBarChart.xaxis"
            [markers]="topUpAndChargeBarChart.markers"
            [plotOptions]="topUpAndChargeBarChart.plotOptions"
            [yaxis]="topUpAndChargeBarChart.yaxis"
            [tooltip]="topUpAndChargeBarChart.tooltip"
            [grid]="topUpAndChargeBarChart.grid"
            [labels]="topUpAndChargeBarChart.labels"
          >
          </apx-chart>
        </div>
      </div>
    </div>
  </div>

  <div class="col-xl-8">
    <div class="card mb-0">
      <ul
        ngbNav
        #nav="ngbNav"
        [activeId]="1"
        class="nav nav-tabs nav-tabs-custom nav-justified"
      >
        <li [ngbNavItem]="1">
          <a ngbNavLink>
            <i class="bx bxs-store font-size-20"></i>
            <span class="d-none d-sm-block">ร้านค้า</span>
          </a>
          <ng-template ngbNavContent>
            <div>
              <div>
                <h5 class="font-size-16 mb-4">รายการร้านค้า</h5>
                <div class="table-responsive">
                  <table class="table table-nowrap table-hover mb-0">
                    <thead>
                      <tr>
                        <th scope="col">รหัสร้าน</th>
                        <th scope="col">ชื่อร้าน</th>
                        <th scope="col">เลขสัญญา</th>
                        <th scope="col">โซน</th>
                        <th scope="col">วันสิ้นสุดสัญญา</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let shop of shops">
                        <td>{{ shop.boothCode }}</td>
                        <td>
                          <a href="javascript: void(0);" class="text-dark">{{
                            shop.boothName
                          }}</a>
                        </td>
                        <td>
                          <a href="javascript: void(0);" class="text-dark">{{
                            shop.contractNo
                          }}</a>
                        </td>
                        <td>
                          <a href="javascript: void(0);" class="text-dark">{{
                            shop.boothZone
                          }}</a>
                        </td>
                        <td>
                          <a href="javascript: void(0);" class="text-dark">{{
                            shop.contractEndDate
                          }}</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        
        <li [ngbNavItem]="2">
          <a ngbNavLink>
            <i class="bx bx-bulb font-size-20"></i>
            <span class="d-none d-sm-block">มิเตอร์</span>
          </a>
          <ng-template ngbNavContent>
            <div>
              <div>
                <h5 class="font-size-16 mb-4">รายการมิเตอร์</h5>
                <div class="table-responsive">
                  <table class="table table-nowrap table-hover mb-0">
                    <thead>
                      <tr>
                        <th scope="col">Store ID</th>
                        <th scope="col">Device Zone</th>
                        <th scope="col">Device ID</th>
                        <th scope="col">Meter State</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let meter of meters">
                        
                        <td>{{ meter.storeId }}</td>
                        <td>{{ meter.deviceZone }}</td>
                        <td>{{ meter.deviceId }}</td>
                        <td>
                          <div
                            class="form-check form-switch form-switch-lg mb-lg-3"
                            dir="ltr"
                          >
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="SwitchCheckSizelg"
                              [checked]="meter.meterState === '1'"
                              (change)="
                                changMeterState(
                                  $event,
                                  meter.storeId,
                                  meter.id,
                                  meter
                                )
                              "
                            />
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </li>

        <li [ngbNavItem]="3">
          <a ngbNavLink>
            <i class="bx bx-money font-size-20"></i>
            <span class="d-none d-sm-block">ประวัติการเติมเงิน</span>
          </a>
          <ng-template ngbNavContent>
            <div>
              <div>
                <h5 class="font-size-16 mb-4">รายการเติมเงิน</h5>
                <div class="table-responsive">
                  <table class="table table-nowrap table-hover mb-0">
                    <thead>
                      <tr>
                        <th scope="col">วันที่</th>
                        <th scope="col">จำนวน</th>
                        <th scope="col">สถานะ</th>
                        <th scope="col">ใบเสร็จ</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let topup of topups">
                        <td>{{ topup.createdAt }}</td>
                        <td>
                          <a href="javascript: void(0);" class="text-dark">{{
                            topup.topupMoney | number
                          }}</a>
                        </td>
                        <td>
                          <span class="badge badge-soft-primary font-size-12">{{
                            topup.statusName
                          }}</span>
                        </td>
                        <td *ngIf="0">
                          <button (focus)="setPrintTopup(topup)" class="btn btn-secondary me-2 waves-effect waves-light btn-sm"><i class="bx bx-dollar-circle"></i> พิมพ์</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <a ngbNavLink>
            <i class="bx bx-bar-chart-alt-2 font-size-20"></i>
            <span class="d-none d-sm-block">ประวัติการใช้ไฟฟ้า</span>
          </a>
          <ng-template ngbNavContent>
            <div>
              <div>
                <h5 class="font-size-16 mb-4">ประวัติการใช้ไฟฟ้า</h5>
                <div class="table-responsive">
                  <table
                    class="table table-nowrap table-hover mb-0 text-center"
                  >
                    <thead>
                      <tr>
                        <th scope="col">Store ID</th>
                        <th scope="col">รอบวัน</th>
                        <th scope="col">จำนวนหน่วย (kWh)</th>
                        <th scope="col">จำนวนเงิน</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of electricityList">
                        <td>
                          <a href="javascript: void(0);" class="text-dark"
                            >{{item.storeId}}</a
                          >
                        </td>
                        <td>
                          <span class="badge badge-soft-primary font-size-12"
                            >{{item.date}}</span
                          >
                        </td>
                        <td>
                          <span class="badge badge-soft-primary font-size-12"
                            >{{item.calculateUnit}}</span
                          >
                        </td>
                        <td>
                          <span class="badge badge-soft-primary font-size-12"
                            >{{item.charge}}</span
                          >
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav" class="p-4"></div>
    </div>
  </div>

  <!-- Repair Modal -->
  <ng-template #repair let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">แจ้งเหตุขัดข้อง</h5>
      <button
        type="button"
        class="btn-close"
        (click)="modal.dismiss('Cross click')"
        aria-hidden="true"
      ></button>
    </div>
    <div class="modal-body">
      <div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <form class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInputValue"
                  placeholder="ไฟดับ"
                />
                <label for="floatingInputValue">หัวข้อ</label>
              </form>
            </div>
            <div class="col-lg-6">
              <div class="form-floating mb-3">
                <select
                  class="form-select"
                  id="floatingSelect"
                  aria-label="Floating label select example"
                >
                  <option selected>เลือกรายการ</option>
                  <option value="1">ไฟดับ</option>
                  <option value="2">ไฟรั่ว</option>
                  <option value="3">ไฟตัด</option>
                </select>
                <label for="floatingSelect">กลุ่มเหตุขัดข้อง</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="form-floating mb-3 mb-lg-0">
                <textarea
                  class="form-control"
                  placeholder="รายละเอียด"
                  id="floatingTextarea"
                  rows="10"
                ></textarea>
                <label for="floatingTextarea">รายละเอียด</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        (click)="modal.close('Close click')"
      >
        ปิด
      </button>
      <button type="button" class="btn btn-primary">ส่งข้อมูล</button>
    </div>
  </ng-template>

  <!-- Topup Modal -->
  <ng-template #topup let-modal>
    <div class="modal-header">
      <h5 class="modal-title mt-0">เติมเงิน</h5>
      <button
        type="button"
        class="btn-close"
        (click)="modal.dismiss('Cross click')"
        aria-hidden="true"
      ></button>
    </div>
    <div class="modal-body">
      <div>
        <div class="card-body">
          <div class="row">
            <div class="col-lg-12">
              <p class="card-title-desc">
                ชำระเงินตามยอดได้ที่ จุดรับชำระเงินค่าไฟของโครงการ
              </p>
              <form class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="floatingInputValue"
                  name="topupMoney"
                  [(ngModel)]="topupMoney"
                />
                <!-- <label for="floatingInputValue">หัวข้อ</label> -->
              </form>
            </div>
            <div class="button-items text-center mb-1">
              <button
                type="button"
                class="btn btn-primary btn-lg"
                (click)="setTopupMoney(300)"
              >
                300
              </button>
              <button
                type="button"
                class="btn btn-primary btn-lg"
                (click)="setTopupMoney(500)"
              >
                500
              </button>
              <button
                type="button"
                class="btn btn-primary btn-lg"
                (click)="setTopupMoney(1000)"
              >
                1,000
              </button>
              <button
                type="button"
                class="btn btn-primary btn-lg"
                (click)="setTopupMoney(3000)"
              >
                3,000
              </button>
              <button
                type="button"
                class="btn btn-primary btn-lg"
                (click)="setTopupMoney(5000)"
              >
                5,000
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light"
        (click)="modal.close('Close click')"
      >
        ยกเลิก
      </button>
      <button type="button" class="btn btn-primary" (click)="submitTopup()">
        เติมเงิน
      </button>
    </div>
  </ng-template>
</div>

<!-- <app-print-page [printTopup]="printTopup"></app-print-page> -->
<!-- end row -->
