<!-- start page title -->
<div class="row mb-3">
    <div class="d-flex align-items-start">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">หน้าหลัก</li>
            <li class="breadcrumb-item">มิเตอร์</li>
            <li class="breadcrumb-item active">รายละเอียดมิเตอร์</li>
        </ol>
    </div>
</div>

<!-- end page title -->

<!-- Start row -->
<div class="row">
    <div class="">
        <div class="card card-green-style">
            <div class="p-3 px-4 bg-success">
                <div class="d-flex align-items-start">
                    <!-- <div class="align-self-center me-3">
                    <img src="assets/images/users/avatar-4.jpg" class="avatar-xs rounded-circle" alt="avatar" />
                  </div> -->
                    <div class="flex-1 align-self-center">
                        <h5 class="title-card font-size-16 mb-0">
                            <a href="#" class="text-reset">มิเตอร์</a>
                        </h5>
                        <!-- <p class="text-muted mb-0 font-size-12">ร้านค้าพาร์ทเนอร์ทั้งหมด</p> -->
                    </div>

                    <div class="button-items">
                        <!-- <button routerLink="/meter-list" routerLinkActive="active"
                            class="btn btn-outline-success btn-rounded float-right">
                            <i class="bx bx-user-plus"></i> ย้อนกลับ
                        </button> -->
                    </div>
                </div>
            </div>

            <div class="card-content">
                <div class="row">
                    <div class="position-relative">
                        <div class="row text-center mb-2">
                            <h2 class="text-muted">รายละเอียดข้อมูลการทำงาน Meter แบบ Realtime</h2>
                            <h3 class="text-muted">รับค่าที่ส่งจาก API</h3>
                        </div>
                        <div class="button-items text-center">
                            <button type="button" class="btn btn-primary btn-lg" (click)="onBtnBackClicked()">ย้อนกลับ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!--   
  <div class="preview-backdrop" (click)="onClosePreview()" *ngIf="show_preview"></div>
  <div class="preview-action" [class.show]="show_preview">
    <app-preview-qa [item]="item" (onClose)="onClose($event)" (onEdit)="onEditPreview($event)" (onDelete)="onDeleteItem($event)"></app-preview-qa>
  </div> -->