<!-- start page title -->
<div class="row mb-3">
  <div class="d-flex align-items-start">
    <ol class="breadcrumb m-0">
      <li class="breadcrumb-item">หน้าหลัก</li>
      <li class="breadcrumb-item">มิเตอร์</li>
      <li class="breadcrumb-item active">รายละเอียดมิเตอร์</li>
    </ol>
  </div>
</div>

<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p class="loader" style="font-size: 20px; color: white"></p>
</ngx-spinner>

<!-- end page title -->

<!-- Start row -->
<div class="row">
  <div class>
    <div class="card card-green-style">
      <div class="p-3 px-4 bg-success">
        <div class="d-flex align-items-start">
          <!-- <div class="align-self-center me-3">
                    <img src="assets/images/users/avatar-4.jpg" class="avatar-xs rounded-circle" alt="avatar" />
                  </div> -->
          <div class="flex-1 align-self-center">
            <h5 class="title-card font-size-16 mb-0">
              <a href="#" class="text-reset">มิเตอร์ {{ boothId }}</a>
            </h5>

            <div class="row">
              <div class="col-3" *ngIf="MonthList">
                <h6>Select Month</h6>
                <input
                  class="form-control"
                  type="month"
                  value="2021-03"
                  id="example-month-input"
                  [(ngModel)]="getInputMonth"
                />
              </div>
              <div class="col-3" *ngIf="MonthList">
                <br />
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="searchMonth()"
                >
                  Search
                </button>
              </div>
              <div class="col-3" *ngIf="DayList">
                <h6>Select Scope Date</h6>
                <input
                  class="form-control flatpickr-input"
                  type="text"
                  mwlFlatpickr
                  mode="range"
                  [(ngModel)]="getInputDay"
                />
              </div>
              <div class="col-3" *ngIf="DayList">
                <br />
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="searchDay()"
                >
                  Search
                </button>
              </div>
              <div class="col-6" *ngIf="YearList"></div>
              <div class="col-6 btn-right">
                <button
                  type="button"
                  class="btn btn-outline-success outline-success btn-rounded float-right m-1"
                  style="font-weight: bold"
                  (click)="graphOfDay()"
                >
                  รายวัน
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success outline-success btn-rounded float-right m-1"
                  style="font-weight: bold"
                  (click)="graphOfMonth()"
                >
                  รายเดือน
                </button>
                <button
                  type="button"
                  class="btn btn-outline-success outline-success btn-rounded float-right m-1"
                  style="font-weight: bold"
                  (click)="graphOfYear()"
                >
                  รายปี
                </button>
              </div>
            </div>

            <!-- <p class="text-muted mb-0 font-size-12">ร้านค้าพาร์ทเนอร์ทั้งหมด</p> -->
          </div>

          <div class="button-items">
            <!-- <button routerLink="/meter-list" routerLinkActive="active"
                            class="btn btn-outline-success btn-rounded float-right">
                            <i class="bx bx-user-plus"></i> ย้อนกลับ
                        </button> -->
          </div>
        </div>
      </div>

      <div class="card-content">
        <div class="row">
          <div class="position-relative">
            <div class="row text-center mb-2">
              <h2 class="text-muted">
                รายละเอียดข้อมูลการทำงาน Meter แบบ Realtime
              </h2>
              <h3 class="text-muted">รับค่าที่ส่งจาก API</h3>
              <div *ngIf="DayList">
                <apx-chart
                  class="apex-charts"
                  dir="ltr"
                  [series]="linewithDataChart.series"
                  [chart]="linewithDataChart.chart"
                  [colors]="linewithDataChart.colors"
                  [stroke]="linewithDataChart.stroke"
                  [dataLabels]="linewithDataChart.dataLabels"
                  [responsive]="linewithDataChart.responsive"
                  [legend]="linewithDataChart.legend"
                  [xaxis]="linewithDataChart.xaxis"
                  [yaxis]="linewithDataChart.yaxis"
                  [stroke]="linewithDataChart.stroke"
                  [markers]="linewithDataChart.markers"
                >
                </apx-chart>
              </div>
              <!-- <div *ngIf="DayList" id="chart">
                                <apx-chart
                                  [series]="chartOptions.series"
                                  [chart]="chartOptions.chart"
                                  [xaxis]="chartOptions.xaxis"
                                  [legend]="chartOptions.legend"
                                  [fill]="chartOptions.fill"
                                  [plotOptions]="chartOptions.plotOptions"
                                  [responsive]="chartOptions.responsive">
                                </apx-chart>
                              </div> -->
              <div *ngIf="MonthList">
                <apx-chart
                  class="apex-charts"
                  dir="ltr"
                  [series]="linewithDataChart.series"
                  [chart]="linewithDataChart.chart"
                  [colors]="linewithDataChart.colors"
                  [stroke]="linewithDataChart.stroke"
                  [dataLabels]="linewithDataChart.dataLabels"
                  [responsive]="linewithDataChart.responsive"
                  [legend]="linewithDataChart.legend"
                  [xaxis]="linewithDataChart.xaxis"
                  [yaxis]="linewithDataChart.yaxis"
                  [stroke]="linewithDataChart.stroke"
                  [markers]="linewithDataChart.markers"
                >
                </apx-chart>
              </div>
              <div *ngIf="YearList">
                <apx-chart
                  class="apex-charts"
                  dir="ltr"
                  [series]="linewithDataChart.series"
                  [chart]="linewithDataChart.chart"
                  [colors]="linewithDataChart.colors"
                  [stroke]="linewithDataChart.stroke"
                  [dataLabels]="linewithDataChart.dataLabels"
                  [responsive]="linewithDataChart.responsive"
                  [legend]="linewithDataChart.legend"
                  [xaxis]="linewithDataChart.xaxis"
                  [yaxis]="linewithDataChart.yaxis"
                  [stroke]="linewithDataChart.stroke"
                  [markers]="linewithDataChart.markers"
                >
                </apx-chart>
              </div>
            </div>
            <div class="button-items text-center">
              <button
                type="button"
                class="btn btn-primary btn-lg"
                (click)="onBtnBackClicked()"
              >
                ย้อนกลับ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end row -->
<!--   
  <div class="preview-backdrop" (click)="onClosePreview()" *ngIf="show_preview"></div>
  <div class="preview-action" [class.show]="show_preview">
    <app-preview-qa [item]="item" (onClose)="onClose($event)" (onEdit)="onEditPreview($event)" (onDelete)="onDeleteItem($event)"></app-preview-qa>
  </div> -->
