<!-- start page title -->
<div class="row mb-3">
    <div class="d-flex align-items-start">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">หน้าหลัก</li>
            <li class="breadcrumb-item active">มิเตอร์</li>
        </ol>
    </div>
</div>

<!-- end page title -->

<!-- Start row -->
<div class="row">
    <div class="">
        <div class="card card-green-style">
            <div class="p-3 px-4 bg-success">
                <div class="d-flex align-items-start">
                    <!-- <div class="align-self-center me-3">
                    <img src="assets/images/users/avatar-4.jpg" class="avatar-xs rounded-circle" alt="avatar" />
                  </div> -->
                    <div class="flex-1 align-self-center">
                        <h5 class="title-card font-size-16 mb-0">
                            <a href="#" class="text-reset">Meter Dashboard</a>
                        </h5>
                        <!-- <p class="text-muted mb-0 font-size-12">ร้านค้าพาร์ทเนอร์ทั้งหมด</p> -->
                    </div>

                    <div class="button-items">
                        <button routerLink="/meter-add" routerLinkActive="active"
                            class="btn btn-outline-success btn-rounded float-right">
                            <i class="bx bx-user-plus"></i> เพิ่มมิเตอร์
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-content">
                <div class="row">
                    <div class="col-lg-1">
                
                    </div>
                    <div class="col-lg-2">
                        <div class="card bg-primary text-white-50">
                            <div class="card-body text-center">
                                <h1 class="mt-0 mb-4 text-white text-truncate">โซน A</h1>
                                <button type="button" class="btn btn-warning btn-lg" routerLink="/meter-list" routerLinkActive="active">A001-A111</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card bg-primary text-white-50">
                            <div class="card-body text-center">
                                <h1 class="mt-0 mb-4 text-white text-truncate">โซน B</h1>
                                <button type="button" class="btn btn-warning btn-lg" routerLink="/meter-list" routerLinkActive="active">B001-B024</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card bg-primary text-white-50">
                            <div class="card-body text-center">
                                <h1 class="mt-0 mb-4 text-white text-truncate">โซน C</h1>
                                <button type="button" class="btn btn-warning btn-lg" routerLink="/meter-list" routerLinkActive="active">C001-C028</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card bg-primary text-white-50">
                            <div class="card-body text-center">
                                <h1 class="mt-0 mb-4 text-white text-truncate">โซน D</h1>
                                <button type="button" class="btn btn-warning btn-lg" routerLink="/meter-list" routerLinkActive="active">D001-D111</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="card bg-primary text-white-50">
                            <div class="card-body text-center">
                                <h1 class="mt-0 mb-4 text-white text-truncate">โซน E</h1>
                                <button type="button" class="btn btn-warning btn-lg" routerLink="/meter-list" routerLinkActive="active">E001-E120</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!--   
  <div class="preview-backdrop" (click)="onClosePreview()" *ngIf="show_preview"></div>
  <div class="preview-action" [class.show]="show_preview">
    <app-preview-qa [item]="item" (onClose)="onClose($event)" (onEdit)="onEditPreview($event)" (onDelete)="onDeleteItem($event)"></app-preview-qa>
  </div> -->