<!-- start page title -->
<div class="row mb-3">
    <div class="d-flex align-items-start">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">หน้าหลัก</li>
            <li class="breadcrumb-item active">ร้านค้า</li>
        </ol>
    </div>
</div>

<!-- end page title -->

<!-- Start row -->
<div class="row">
    <div class="">
        <div class="card card-green-style">
            <div class="p-3 px-4 bg-success">
                <div class="d-flex align-items-start">
                    <!-- <div class="align-self-center me-3">
                    <img src="assets/images/users/avatar-4.jpg" class="avatar-xs rounded-circle" alt="avatar" />
                  </div> -->
                    <div class="flex-1 align-self-center">
                        <h5 class="title-card font-size-16 mb-0">
                            <a href="#" class="text-reset">ร้านค้า</a>
                        </h5>
                        <!-- <p class="text-muted mb-0 font-size-12">ร้านค้าพาร์ทเนอร์ทั้งหมด</p> -->
                    </div>

                    <div class="button-items">
                        <button routerLink="/shop-add" routerLinkActive="active"
                            class="btn btn-outline-success btn-rounded float-right">
                            <i class="bx bx-user-plus"></i> เพิ่มร้านค้า
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-content">
                <div class="row">
                    <div class="position-relative">
                        <div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table align-middle mb-0">
                                        <thead>
                                            <tr>
                                                <th>ชื่อร้าน</th>
                                                <th>เลขแผง</th>
                                                <th>Zone</th>
                                                <th>เลขที่สัญญา</th>
                                                <th>เจ้าของสัญญา</th>
                                                <th>เลขมิเตอร์</th>
                                                <th>วันเริ่มต้นสัญญา</th>
                                                <th>วันสิ้นสุดสัญญา</th>
                                                <th>สถานะ</th>
                                                <th>แอคชั่น</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let shop of shops">
                                                <th>{{shop.shopName}}</th>
                                                <td>{{shop.storeNumber}}</td>
                                                <td>{{shop.zoneNumber}}</td>
                                                <td>{{shop.contractNumber}}</td>
                                                <td>{{shop.contractOwner}}</td>
                                                <td>{{shop.meterNumber}}</td>
                                                <td>01/08/23</td>
                                                <td>01/08/24</td>
                                                <td>
                                                    <span
                                                        class="badge badge-soft-success ms-1">ปกติ</span>
                                                </td>
                                                <td>
                                                    <div class="button-items">
                                                        <button type="button"
                                                            class="btn btn-action"
                                                            routerLink="/shop-edit/{{shop.id}}"
                                                            routerLinkActive="active">
                                                            <i class="bx bxs-pencil"></i>
                                                        </button>
                                                        <button type="button"
                                                            class="btn btn-action"
                                                            id="sa-warning">
                                                            <i class="bx bxs-trash" (click)="confirm(shop.id)"></i>
                                                        </button>
                                                        
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!--   
  <div class="preview-backdrop" (click)="onClosePreview()" *ngIf="show_preview"></div>
  <div class="preview-action" [class.show]="show_preview">
    <app-preview-qa [item]="item" (onClose)="onClose($event)" (onEdit)="onEditPreview($event)" (onDelete)="onDeleteItem($event)"></app-preview-qa>
  </div> -->