<!-- start page title -->
<div class="row mb-3">
    <div class="d-flex align-items-start">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item">หน้าหลัก</li>
            <li class="breadcrumb-item">มิเตอร์ไฟฟ้า</li>
            <li class="breadcrumb-item active">เพิ่มมิเตอร์ไฟฟ้า</li>
        </ol>
    </div>
</div>

<!-- end page title -->
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
    <p class="loader" style="font-size: 20px; color: white"></p>
</ngx-spinner>
<!-- Start row -->
<div class="row">
    <div class="">
        <div class="card card-green-style">
            <form class="needs-validation" [formGroup]="validationform" novalidate>
                <div class="p-3 px-4 bg-success">
                    <div class="d-flex align-items-start">
                        <!-- <div class="align-self-center me-3">
                    <img src="assets/images/users/avatar-4.jpg" class="avatar-xs rounded-circle" alt="avatar" />
                  </div> -->
                        <div class="flex-1 align-self-center">
                            <h5 class="title-card font-size-16 mt-1 mb-0">
                                <a href="#" class="text-reset">เพิ่มมิเตอร์</a>
                            </h5>
                            <!-- <p class="text-muted mb-0 font-size-12">ร้านค้าพาร์ทเนอร์ทั้งหมด</p> -->
                        </div>
                        <div class="button-items">
                            <button routerLink="/meter-dashboard" routerLinkActive="active" class="btn btn-outline-default btn-rounded float-right">
                <i class="bx bx-x"></i> ยกเลิก
              </button>
                            <button class="btn btn-outline-success btn-rounded float-right" (click)="addMeter()">
                <i class="bx bx bx-save"></i> บันทึก
              </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="position-relative">
                        <div class="card-body card-body-form">
                            <div class="row">
                                <h2 class="text-uppercase mb-5">เพิ่มมิเตอร์</h2>
                            </div>

                            <div class="row">
                                <div class="row mb-md-5">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="font-size-12 mb-3">
                                                <label class="form-label">Booth ID</label>
                                                <input class="form-control form-control-lg" formControlName="boothId" type="text" placeholder="Store ID" />
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="font-size-12 mb-3">
                                                <label class="form-label">Device ID</label>
                                                <input class="form-control form-control-lg" formControlName="deviceId" type="text" placeholder="Device ID" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="font-size-12 mb-3">
                                                <label class="form-label">Contract ID</label>
                                                <input class="form-control form-control-lg" formControlName="contractId" type="text" placeholder="Contract ID" [ngClass]="{
                            'is-invalid': submit && formData.contractId.errors
                          }" />
                                                <div *ngIf="submit && formData.contractId.errors" class="invalid-tooltip">
                                                    <span *ngIf="formData.contractId.errors.required">กรุณาระบุเลขที่สัญญา</span
                          >
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Device Zone</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="deviceZone"
                          type="text"
                          placeholder="Device Zone"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Serial No.</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="serialNo"
                          type="text"
                          placeholder="Serial No."
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Line Voltage</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="lineVoltage"
                          type="text"
                          placeholder="Line Voltage"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Line Freequency</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="lineFrequency"
                          type="text"
                          placeholder="Line Freequency"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Line Current</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="lineCurrent"
                          type="text"
                          placeholder="Line Current"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Active Power</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="activePower"
                          type="text"
                          placeholder="Active Power"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Active Energy</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="activeEnergy"
                          type="text"
                          placeholder="Active Energy"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Model Spec</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="modelSpec"
                          type="text"
                          placeholder="Model Spec"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Update Date Time</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="updateDateTime"
                          type="text"
                          placeholder="Update Date Time"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Meter State</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="meterState"
                          type="text"
                          placeholder="Meter State"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Update State Date Time</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="updateStateAdminDateTime"
                          type="text"
                          placeholder="Update State Date Time"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Meter State Admin</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="meterStateAdmin"
                          type="text"
                          placeholder="Meter State Admin"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label"
                          >Update State Admin Date Time</label
                        >
                        <input
                          class="form-control form-control-lg"
                          formControlName="updateStateAdminDateTime"
                          type="text"
                          placeholder="Update State Admin Date Time"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label">Slave ID</label>
                        <input
                          class="form-control form-control-lg"
                          formControlName="slaveId"
                          type="text"
                          placeholder="Slave ID"
                        />
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label"
                          >Meter State Previous Unit</label
                        >
                        <input
                          class="form-control form-control-lg"
                          formControlName="meterStatePreviousUnit"
                          type="text"
                          placeholder="Meter State Previous Unit"
                        />
                      </div>
                    </div>
                  </div>
                  <!-- end row -->

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="font-size-12 mb-3">
                        <label class="form-label"
                          >Meter State Calculate Unit</label
                        >
                        <input
                          class="form-control form-control-lg"
                          formControlName="meterStateCalculateUnit"
                          type="text"
                          placeholder="Meter State Calculate Unit"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- end row -->
<!--   
  <div class="preview-backdrop" (click)="onClosePreview()" *ngIf="show_preview"></div>
  <div class="preview-action" [class.show]="show_preview">
    <app-preview-qa [item]="item" (onClose)="onClose($event)" (onEdit)="onEditPreview($event)" (onDelete)="onDeleteItem($event)"></app-preview-qa>
  </div> -->